body {
    outline:1px solid black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    
}

.header {
    outline:3px solid rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.process {
    outline: 3px solid rgb(60, 255, 0);
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial {
    outline:3px solid rgb(60, 0, 255);
    display: flex;
    flex:auto;
    justify-content: center;
    align-items: center;
}

.footer {
    outline:3px solid rgb(255, 0, 234);
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero {
    outline:3px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    width: 100vw;
    
    

}

.logo {
    outline:3px solid rgb(0, 0, 0);
}

ul {
    outline:3px solid rgb(0, 0, 0);
    display: flex;
    list-style-type: none;
    
}

li {
    margin:8px;
}

.container {
    outline:3px solid rgb(241, 1, 221);
    display: flex;
    align-items: center;
}

.title {
    outline:3px solid rgb(15, 72, 216);
    
}

.main-image {
    outline:3px solid rgb(0, 255, 238);
}
