
html, body {
    margin:0; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    
     
}

.section-one, .section-two, .section-three, .section-four {
   
}




 /* SECTION ONE */
.section-one {

display: flex;
flex-direction: column;
background-color: #9CC6DB ;



}

.hero {
    
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    
   
    
}


.hero ul {
    
    display: flex;
    list-style-type: none;
    gap: 25px;
    
    
}

li {
    font-size: 20px;
    font-weight: 300;
}

.logo {
    
    margin-right: auto;
    
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 30px 50px 30px;
    
    gap:20px;
    align-self: center;
    
    
    
    

}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    

}

h1 {
    font-size:100px;
    margin: 0%;
    padding: 0%;
    font-weight:900 ;
}

.title p {
    margin: 0%;
    padding: 0%;
    font-size: 20px;
    

}

.title button {
   width: 120px;
   height: 40px;
   border-radius: 10px;
   border-width: 6px;
  border-color: red rgb(255, 255, 0) blue green;
  font-weight: 700;
  background-color: #FCF6D9;
}


.main-image {
    display: flex;
    border: 10px solid #CF4B00;
    border-radius: 10px;
    
}






/* SECTION TWO */
.section-two {
display: flex;
flex:1 1 auto;
flex-direction: column;
align-items: center;
background-color: #FCF6D9 ;
padding: 16px;
justify-content: space-evenly;

}

h2 {

font-size: 40px;

}
.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    
   
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   gap: 7px;
    width: 300px;
    height: 300px;
}

.image {
    border: 4px solid #CF4B00;
   border-radius:15px;
}




.text {
    text-align: center;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 300;
}






 /* SECTION THREE */
.section-three {

 display: flex;
 flex-grow: 1;
 justify-content: center;
 align-items: center;
 background-color: #CF4B00 ;
}


.testimonial {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 150px;
    width: 700px;
    height: 300px;
    justify-content: space-around;
    
}

.testimonial-text {
    font-size: 36px;
    font-weight: 300;
    
}

.old-clients {
    align-self: flex-end;
    font-size: 18px;
    font-weight: 800;
}



/* SECTION FOUR */
.section-four {
display: flex;
flex-direction: column;
background-color: #FCF6D9 ;


}

.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 100px;
    margin-bottom: 100px;
    background-color: #DDBA7D ;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 15px;
    padding: 15px;
    width: 700px;
    align-self: center;
    
    
}

.footer-button {
    align-self: center;
     
}

.section-four button {
       width: 120px;
   height: 40px;
   border-radius: 10px;
   border-width: 6px;
  border-color: red rgb(255, 255, 0) blue green;
  background-color: transparent;
  font-weight: 700;
}

.action-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
    gap: 8px;
   
    
    
}

h5 {
    margin-bottom: 0%;
    font-size: 20px;

}

.action-text p {
    margin-top: 0%;
    font-weight: 300;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #9CC6DB ;
    padding-top: 40px;
    padding-bottom: 40px;
}